extends  ../_skeleton

block variables
	- var activeCategory = 'pages'
	- var pageName = '503 Page'

block page
	// Page content
	section.section.section-single.bg-gray-800(style='background-image: url(images/bg-image-4.jpg);')
		.section-single-inner
			.section-single-dummy
			.section-single-main: .container 
				.row.row-30
					.col-sm-6.text-center.text-sm-left: p.text-extra-large 503
					.col-sm-6
						.section-single-main-content
							h6.title-decorated.title-decorated-lg Service is temporary unavailable
							p Sorry, we're offline right now to make our site even better.#[br]Please, come back later and check what we've been up to.
							a.button.button-lg.button-primary.button-winona(href='index.html') Back to home page
							
						
			.footer-minimal.section-single-footer
				.container
					.footer-minimal-inner
						a.brand(href='index.html')
							+png(logo.inverse.trueSize)(srcset='images/' + logo.inverse.retina + '.png 2x')
						+rights
				
