extends  ../_skeleton

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Search Results'

block page 
	// Page Header
	include ../sections/_header-minimal

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	// Search results
	section.section.section-lg.section-wave-offset
		.container
			.row
				.col-lg-11.col-xl-8
					// RD Search
					form.rd-form.rd-search.rd-search-classic(action='search-results.html' method='GET')
						.form-wrap
							label.form-label-outside(for='rd-search-form-input') Search
							.form-wrap-inner
								input.form-input#rd-search-form-input(type='text' name='s' autocomplete='off')
								button.rd-search-submit(type='submit' aria-label='Submit')

					.rd-search-results

	// Page Footer
	include ../sections/_footer-standard
	+footer-standard({
		about: 'Water is one of the leading spring water providers in the USA. We bottle and deliver bacteria-free spring water throughout the country covering all water needs and tastes. We are proud to be the nation’s #1 water provider!'
	})

