extends  ../_skeleton

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Under Construction'

block page
	// Page content
	section.section.section-single.bg-gray-800(style='background-image: url(images/bg-image-6.jpg);')
		.section-single-inner
			.section-single-dummy
			.section-single-main: .container 
				.row.row-30.justify-content-center.justify-content-sm-start
					.col-sm-10.col-md-9.col-lg-7.col-xl-6
						h6.title-decorated.title-decorated-lg We're getting ready to launch soon
						p We are terribly sorry, but our website is currently unavailable and is closed for maintenance. If you would like to be instantly notified about resumption of the website operation, leave us your e-mail address, and we will inform you when our website will be available again.
						.rd-mailform-wrap 
							// RD Mailform
							form.rd-form.rd-mailform.form-inline.form-inline-custom(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
								.form-wrap
									input.form-input(id="subscribe-form-1-email" type="email" name="email" data-constraints="@Email @Required")
									label.form-label(for="subscribe-form-1-email") Your e-mail
								.form-button: button.button.button-primary.button-winona(type="submit") Subscribe
							
						
			.footer-minimal.section-single-footer
				.container
					.footer-minimal-inner
						a.brand(href='index.html')
							+png(logo.inverse.trueSize)(srcset='images/' + logo.inverse.retina + '.png 2x')
						+rights
				
