extends  ../_skeleton

//- Includes


block variables
	- var activeCategory = 'water'
	- var pageName = 'Water'

block page
	// Page Header
	include ../sections/_header-minimal

	+breadcrumbs({
		title: 'What We Offer',
		bgImage: "breadcrumbs-image-2",
		path: [pageName]
	})

	// Section Products
	include ../sections/_section-products

	// Page Footer
	include ../sections/_footer-standard
	+footer-standard({
		about: 'Water is one of the leading spring water providers in the USA. We bottle and deliver bacteria-free spring water throughout the country covering all water needs and tastes. We are proud to be the nation’s #1 water provider!'
	})
