extends  ../_skeleton

//- Includes


block variables
	- var activeCategory = 'pages'
	- var pageName = 'What We Offer'

block page
	// Page Header
	include ../sections/_header-minimal

	+breadcrumbs({
		category: activeCategory,
		bgImage: "breadcrumbs-image-2",
		path: [pageName]
	})

	// Services
	section.section.section-lg.bg-gray-100.text-center.section-wave-offset
		.container
			.row.row-30
				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft
						.box-creative-icon.mdi.mdi-cellphone-android
						h4.box-creative-title: a(href='#') Online Ordering
						p Our online store is always open to customers who prefer to drink quality spring water. You can also order Water products via our partners’ websites.

				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft(data-wow-delay='.1s')
						.box-creative-icon.fl-bigmug-line-graphical8
						h4.box-creative-title: a(href='#') Free Delivery
						p If your order more than 6 bottles of our water we will deliver it to your home or office for free. This offer applies only to online orders placed till 8 PM.

				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft(data-wow-delay='.2s')
						.box-creative-icon.mdi.mdi.mdi-heart-outline
						h4.box-creative-title: a(href='#') Friendly Managers
						p Our team of friendly managers is always ready to help you choose and order the best sparkling or spring water. Feel free to contact us for more information.

				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft
						.box-creative-icon.mdi.mdi-shield-outline
						h4.box-creative-title: a(href='#') Protection from Bacteria
						p Donec pellentesque accumsan mi in semper. Curabitur vitae pharetra ipsum. Nam a rhoncus libero. Morbi scelerisque massa sed rhoncus vulputate.

				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft(data-wow-delay='.1s')
						.box-creative-icon.mdi.mdi-star-outline
						h4.box-creative-title: a(href='#') No Contaminants
						p Mauris eget velit sed orci faucibus aliquam fermentum a mauris. Integer nec augue nec dolor molestie semper. Class per conubia nostra.

				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft(data-wow-delay='.2s')
						.box-creative-icon.mdi.mdi.mdi-google-circles-extended
						h4.box-creative-title: a(href='#') Automated Bottling Lines
						p Urabitur vitae pharetra ipsum. Nam a rhoncus libero. Morbi scelerisque massa sed rhoncus vulputate. Quisque ac lectus non tortor commodo aliquam.


	// Page Footer
	include ../sections/_footer-standard
	+footer-standard({
		about: 'Water is one of the leading spring water providers in the USA. We bottle and deliver bacteria-free spring water throughout the country covering all water needs and tastes. We are proud to be the nation’s #1 water provider!'
	})
