footer.section.footer-minimal.bg-gray-700
	.container
		.footer-minimal-inner
			a.brand(href='index.html')
				+png(logo.inverse.trueSize)(srcset='images/' + logo.inverse.retina + '.png 2x')
			+rights
