- navbarCounter++

header.section.page-header
	// RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-minimal(
		data-layout=                'rd-navbar-fixed'
		data-sm-layout=             'rd-navbar-fixed'
		data-md-layout=             'rd-navbar-fixed'
		data-md-device-layout=      'rd-navbar-fixed'
		data-lg-layout=             'rd-navbar-static'
		data-lg-device-layout=      'rd-navbar-fixed'
		data-xl-layout=             'rd-navbar-static'
		data-xl-device-layout=      'rd-navbar-static'
		data-xxl-layout=            'rd-navbar-static'
		data-xxl-device-layout=     'rd-navbar-static'
		data-lg-stick-up-offset=    '46px'
		data-xl-stick-up-offset=    '46px'
		data-xxl-stick-up-offset=   '46px'
		data-lg-stick-up=           'true'
		data-xl-stick-up=           'true'
		data-xxl-stick-up=          'true')
			.rd-navbar-main-outer
				.rd-navbar-main
					// RD Navbar Panel
					.rd-navbar-panel
						// RD Navbar Toggle
						button.rd-navbar-toggle(data-rd-navbar-toggle='#rd-navbar-nav-wrap-' + navbarCounter): span

						// RD Navbar Brand
						a.rd-navbar-brand(href='index.html')
							+png(logo.default.trueSize)(srcset='images/' + logo.default.retina + '.png 2x')

					.rd-navbar-main-element
						.rd-navbar-nav-wrap(id='rd-navbar-nav-wrap-' + navbarCounter)
							include ../includes/_navigation

						// Callback link
						.rd-navbar-call
							button.icon.icon-md.mdi.mdi-phone(data-toggle='modal' data-target='#call-form')
