section.section.section-lg.text-center
	.container
		h3.wow-outer: span.wow.slideInUp Our Team
		.row.row-50.row-xxl-70.justify-content-center.justify-content-lg-start
			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft
					figure.profile-creative-figure: +jpg('team-1-270x273', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Nathan Porter
						p.profile-creative-position CEO, Founder
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Vivamus ultricies risus quis libero tristique scelerisque. Aliquam mauris dolor, sollicitudin  vel lectus.

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft(data-wow-delay='.2s')
					figure.profile-creative-figure: +jpg('team-2-270x273', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Jean Thompson
						p.profile-creative-position Head of Production
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Morbi commodo, erat eget lobortis fermentum, tellus magna vestibulum dui, vel feugiat mauris tellus quis lacus.

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft
					figure.profile-creative-figure: +jpg('team-3-270x273', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Brian Payne
						p.profile-creative-position Head of Marketing
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Etiam pretium ornare felis, in efficitur augue semper laoreet. Cras nec mi scelerisque, cursus mi id, iaculis libero.

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft(data-wow-delay='.2s')
					figure.profile-creative-figure: +jpg('team-4-270x273', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Marie Fernandez
						p.profile-creative-position Office Manager
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Sed nec elit sodales, imperdiet dolor in, suscipit mi. Donec in elit ligula. Aenean euismod euismod enim, sit amet.

		.wow-outer.button-outer.button-outer-custom
			a.button.button-lg.button-primary.button-winona.wow.slideInUp(href='#') View all Team
