section.section.section-lg.bg-gray-100
	.container
		.row.row-30
			.col-sm-6.col-lg-4.wow-outer
				// Box Minimal
				article.box-minimal
					.box-minimal-icon.fl-bigmug-line-user144.wow.fadeIn
					.box-minimal-main.wow-outer
						h4.box-minimal-title.wow.slideInDown Qualified Employees
						p.wow.fadeInUpSmall Our team consists of more than 20 qualified and experienced accountants, marketers, and managers.

			.col-sm-6.col-lg-4.wow-outer
				// Box Minimal
				article.box-minimal
					.box-minimal-icon.fl-bigmug-line-rectangular78.wow.fadeIn(data-wow-delay='.1s')
					.box-minimal-main.wow-outer
						h4.box-minimal-title.wow.slideInDown(data-wow-delay='.1s') Free Consultations
						p.wow.fadeInUpSmall(data-wow-delay='.1s') Our acquaintance with a client always begins with a free consultation to find out possible solutions to their problems.

			.col-sm-6.col-lg-4.wow-outer
				// Box Minimal
				article.box-minimal
					.box-minimal-icon.fl-bigmug-line-checkmark14.wow.fadeIn(data-wow-delay='.2s')
					.box-minimal-main.wow-outer
						h4.box-minimal-title.wow.slideInDown(data-wow-delay='.2s') 100% Guaranteed
						p.wow.fadeInUpSmall(data-wow-delay='.2s') All results that you get from us are 100% guaranteed to bring you to a whole new level of profitability and financial success.
