section.section.section-xl.bg-gray-700.bg-image.bg-image-1(style='background-image: url(images/call-to-action-1-1920x584.jpg);')
	.container
		.row.justify-content-sm-end
			.col-sm-9.col-md-7.col-lg-6
				.box-6
					.wow-outer: .wow.slideInUp
						h3.font-weight-semibold From an Artesian Well to Home and Office
						
					.wow-outer.offset-top-4: .wow.slideInDown
						p For more than 60 years, we have been supplying the American homes and offices with high-quality spring water from a pristine stream near our plant.
						a.button.button-primary.button-winona(href='#') Read More
