section.section-lg.text-center
	.container
		h3.wow-outer: span.wow.slideInUp Services
		p.wow-outer: span.wow.slideInDown.text-width-1 As the most qualified accounting services provider, we offer an amazing variety of financial solutions designed to help you solve all bookkeeping issues, no matter big or small.
		.row.row-30.offset-top-2
			.col-sm-6.col-lg-3.wow-outer
				// Thumbnail Light
				article.thumbnail-light.wow.slideInLeft
					a.thumbnail-light-media(href='#'): +jpg('service-thumbnail-1-270x300', 'thumbnail-light-image')
					h5.thumbnail-light-title: a(href='#') Cash Management

			.col-sm-6.col-lg-3.wow-outer
				// Thumbnail Light
				article.thumbnail-light.wow.slideInLeft(data-wow-delay='.05s')
					a.thumbnail-light-media(href='#'): +jpg('service-thumbnail-2-270x300', 'thumbnail-light-image')
					h5.thumbnail-light-title: a(href='#') Payments

			.col-sm-6.col-lg-3.wow-outer
				// Thumbnail Light
				article.thumbnail-light.wow.slideInLeft(data-wow-delay='.1s')
					a.thumbnail-light-media(href='#'): +jpg('service-thumbnail-3-270x300', 'thumbnail-light-image')
					h5.thumbnail-light-title: a(href='#') M&A Assistance

			.col-sm-6.col-lg-3.wow-outer
				// Thumbnail Light
				article.thumbnail-light.wow.slideInLeft(data-wow-delay='.15s')
					a.thumbnail-light-media(href='#'): +jpg('service-thumbnail-4-270x300', 'thumbnail-light-image')
					h5.thumbnail-light-title: a(href='#') Local Expertise
	.wow-outer.button-outer
		a.button.button-primary-outline.button-winona.offset-top-2.wow.slideInUp(href='#') View all services
