section.section.section-xs.bg-primary-darker.text-center
	.container
		.row.justify-content-center
			.col-sm-10.col-md-12
				.box-cta-thin
					h4.wow-outer: span.wow.slideInRight Learn the Cost of your #[span.font-weight-bold Advertising Campaign] Right Now!
					.wow-outer.button-outer
						a.button.button-primary.button-winona.wow.slideInLeft(href='pricing.html') View all pricing
