// Overview
section.section.section-lg-custom
	.container
		.row.row-50.justify-content-center.justify-content-lg-between
			.col-md-10.col-lg-6.column-ethereal
				h3 Overview
				h4.offset-top-3 Praesent sem nulla, viverra vitae dapibus eget, maximus id dui.
				p Quisque faucibus imperdiet nulla. Quisque nisl turpis, lobortis nec suscipit eu, sagittis vel eros. Sed congue nisl eu est tempor consectetur. Fusce cursus arcu sollicitudin dictum eleifend. Suspendisse potenti.
				.group.group-middle
					a.button.button-primary.button-winona(href='#our-history' data-waypoint-to='#our-history') View our History
					a.button.button-primary-outline.button-winona(href='careers.html') Join our Team

			.col-md-10.col-lg-6.col-xl-5.align-self-end
				+png('about-01-510x482', 'img-responsive')
