section.section.bg-gray-100
	.range.justify-content-xl-between
		.cell-xl-6.align-self-center.container
			.row
				.col-lg-9.cell-inner: .section-lg
					h3.wow-outer: span.wow.slideInDown Contact Us
					// RD Mailform
					form.rd-form.rd-mailform(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-10
							.col-md-6.wow-outer
								.form-wrap.wow.fadeSlideInUp
									label.form-label-outside(for='contact-first-name') First Name
									input#contact-first-name.form-input(type='text' name='name' data-constraints='@Required')

							.col-md-6.wow-outer
								.form-wrap.wow.fadeSlideInUp
									label.form-label-outside(for='contact-last-name') Last Name
									input#contact-last-name.form-input(type='text' name='name' data-constraints='@Required')

							.col-md-6.wow-outer
								.form-wrap.wow.fadeSlideInUp
									label.form-label-outside(for='contact-email') E-mail
									input#contact-email.form-input(type='email' name='email' data-constraints='@Email @Required')

							.col-md-6.wow-outer
								.form-wrap.wow.fadeSlideInUp
									label.form-label-outside(for='contact-phone') Phone
									input#contact-phone.form-input(type='text' name='phone' data-constraints='@PhoneNumber')

							.col-12.wow-outer
								.form-wrap.wow.fadeSlideInUp
									label.form-label-outside(for='contact-message') Your Message
									textarea#contact-message.form-input(name='message' data-constraints='@Required')


						.group.group-middle
							.wow-outer 
								button.button.button-primary.button-winona.wow.slideInRight(type='submit') Send Message
							p or use
							.wow-outer
								a.button.button-primary-outline.button-icon.button-icon-left.button-winona.wow.slideInLeft(href='#')
									span.icon.text-primary.mdi.mdi-facebook-messenger
									| Messenger

		.cell-xl-5.height-fill.wow.fadeIn
			.google-map-container(class="rd-google-map__model", data-zoom="15", data-center='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]' )
				.google-map
				ul.google-map-markers
					li( data-location='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-description='9870 St Vincent Place, Glasgow', data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png' )

