include ../components/_ui-product
- var info = 'for daily use'
section.section.section-lg.section-wave-offset
	.container
		h3.text-center Our Products
		.row.row-30.row-md-50
			.col-md-6
				+procuct({
					img : 'water-01-138x197',
					link: '#',
					title: '1 L Spring Water in Glass',
					price: '10',
					info: info,
					text: 'Enjoy your favorite spring water in the most popular shape! This water is great to share and drink at any weather and is a reasonable offer for any budget.'
				})

			.col-md-6
				+procuct({
					img : 'water-02-138x197',
					link: '#',
					title: '750 ml Sparkling Water',
					price: '9',
					info: info,
					text: 'Perfect sparkling water for single- or multi-serve convenience for home, restaurant or upscale retail stores. We are sure you will love its energizing effect.'
				})(class="second")

			.col-md-6
				+procuct({
					img : 'water-03-138x197',
					link: '#',
					title: '500 ml Spring Water',
					price: '7',
					info: info,
					text: 'Need a greater amount of our spring water at an affordable price? Then Water’s 500 ml spring water is your #1 fit. Available at all major department stores and online.'
				})(class="third")

			.col-md-6
				+procuct({
					img : 'water-04-138x197',
					link: '#',
					title: '333 ml Spring Water',
					price: '10',
					info: info,
					text: 'Wherever it is served, our Spring Water is the finest pairing for any dish. Our spring’s unique blend of minerals provides a remarkably refreshing taste.'
				})(class="fourth")

		.row.justify-content-center.text-center.row-offset-custom-1
			.col-12
				.wow-outer.button-outer
					a.button.button-lg.button-primary.button-winona.wow.slideInDown(data-wow-delay='.1s' href='about-us.html') View more