section.section.section-lg.bg-gray-100.section-wave-offset#our-history
	.container
		// Timeline Classic
		article.timeline-classic
			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-1-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title Convenient Delivery Schedule
					p.thumbnail-classic-item-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim nibh a augue bibendum accumsan.
					p Maecenas venenatis porttitor viverra. Suspendisse faucibus urna a mauris faucibus finibus. Etiam ac ipsum id justo rutrum consectetur. Mauris maximus commodo nulla. Sed sed tempor mi. Sed et hendrerit dolor. Quisque mollis sollicitudin varius.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-2-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title Quality Guarantee
					p.thumbnail-classic-item-subtitle Duis sagittis, nibh tempus rutrum rhoncus, ipsum sapien tempor purus, tincidunt bibendum orci leo tristique massa.
					p Suspendisse faucibus urna a mauris faucibus finibus. Etiam ac ipsum id justo rutrum consectetur. Mauris maximus commodo nulla. Sed sed tempor mi. Sed et hendrerit dolor. Quisque mollis sollicitudin varius.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-3-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title Perfect Fit for Any Dish
					p.thumbnail-classic-item-subtitle Curabitur ac lacus placerat, aliquet felis vel, pulvinar sem. Proin cursus, ero.
					p Mauris tincidunt pretium nulla vitae volutpat. Nullam gravida, augue at scelerisque interdum, metus lacus vestibulum justo, ut imperdiet urna magna et lorem. Suspendisse eu purus quis velit consequat vestibulum. Donec placerat sodales mollis.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-4-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title Fresh and Mineral-rich
					p.thumbnail-classic-item-subtitle Aliquam libero metus, dictum ac orci ac, sodales venenatis urna. Duis tincidunt et metus id iaculis.
					p Mauris tincidunt pretium nulla vitae volutpat. Nullam gravida, augue at scelerisque interdum, metus lacus vestibulum justo, ut imperdiet urna magna et lorem. Suspendisse eu purus quis velit consequat vestibulum.
