mixin career-classic(obj)
	// Career Classic
	article.career-classic&attributes(attributes)
		h4.career-classic-title: a(href=obj.link ? obj.link: '#')=obj.title
		.career-classic-divider
		if(obj.list)
			ul.career-classic-list
				each item in obj.list
					li
						span.icon(class=item.iconClass)
						span=item.text
		block
