mixin thumbnail-indigo(obj) 
	a.thumbnail-indigo(href=obj.link style='background-image: url(' + obj.img + '.jpg);')&attributes(attributes)
		.thumbnail-indigo-caption
			h4.thumbnail-indigo-title=obj.title
