.group.group-xs.group-middle
	a.icon.icon-sm.icon-creative.mdi.mdi-facebook(href='#')
	a.icon.icon-sm.icon-creative.mdi.mdi-twitter(href='#')
	a.icon.icon-sm.icon-creative.mdi.mdi-instagram(href='#')
	a.icon.icon-sm.icon-creative.mdi.mdi-google(href='#')
	a.icon.icon-sm.icon-creative.mdi.mdi-linkedin(href='#')
