include ../components/_ui-thumbnail-classic

.isotope.isotope-condensed.row(data-isotope-layout='masonry')
	.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
		+thumbnail-classic({
			img: 'gallery-masonry-condensed-1-390x576',
			link: '#',
			title: 'iGadget',
			text: 'Marketing Strategy Development'
		}).thumbnail-classic-lg.wow.slideInDown

	.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
		+thumbnail-classic({
			img: 'gallery-masonry-condensed-2-390x288',
			link: '#',
			title: 'Fruits Inc.',
			text: 'SEO, Online Advertising'
		}).wow.slideInDown

	.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
		+thumbnail-classic({
			img: 'gallery-masonry-condensed-3-390x576',
			link: '#',
			title: 'Computerize Ltd.',
			text: 'Research & Marketing Consultancy'
		}).thumbnail-classic-lg.wow.slideInUp

	.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
		+thumbnail-classic({
			img: 'gallery-masonry-condensed-5-390x576',
			link: '#',
			title: 'EcoWorld',
			text: 'E-mail Marketing, SMM'
		}).thumbnail-classic-lg.wow.slideInUp

	.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
		+thumbnail-classic({
			img: 'gallery-masonry-condensed-4-390x288',
			link: '#',
			title: 'Accessories',
			text: 'Brand Management Services'
		}).wow.slideInDown

	.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
		+thumbnail-classic({
			img: 'gallery-masonry-condensed-6-390x288',
			link: '#',
			title: 'MNGRZ Co.',
			text: 'Copywriting, Video Production'
		}).wow.slideInDown
