include ../components/_ui-thumbnail-corporate

.isotope.offset-top-2(data-isotope-layout='masonry')
	.row.row-30
		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-1-370x256',
				link: '#',
				title: 'Business Management',
				text: 'We provide companies with tools and strategies to improve operations and plan for the future.'
			}).wow.slideInDown

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-2-370x464',
				link: '#',
				title: 'Financial Planning',
				text: 'Our financial planning services help high net-worth individuals manage their monthly payroll and expenses.'
			}).thumbnail-corporate-lg.wow.slideInDown

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-3-370x256',
				link: '#',
				title: 'Tax & Accounting',
				text: 'Tax and accounting services form the financial core of our business management services.'
			}).wow.slideInUp

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-4-370x464',
				link: '#',
				title: 'Investment Management',
				text: 'From automated investing to portfolio management, we can help you manage your money.'
			}).thumbnail-corporate-lg.wow.slideInUp

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-6-370x464',
				link: '#',
				title: 'Consulting & Advisory',
				text: 'Consulting & advisory services provide strategic thinking to improve your business effectiveness.'
			}).thumbnail-corporate-lg.wow.slideInDown

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-5-370x256',
				link: '#',
				title: 'Business Plan Review',
				text: 'Our Advisory team will jointly analyze and offer objective advice to enhance your business plan.'
			}).wow.slideInDown
