.pricing-group-modern.wow-outer
	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='#') Basic
		table.pricing-modern-table
			tr
				td No heavy bottles
			tr
				td No delivery dates
			tr
				td Installation fee not included

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 24.95

		a.button.button-primary.button-winona(href='#') Order now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.05s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='#') Standard
		table.pricing-modern-table
			tr
				td Three (3) 5-gal bottles
			tr
				td Free use of cooler
			tr
				td No deposits or delivery fees

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 29.95
	
		a.button.button-primary.button-winona(href='#') Order now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.1s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='#') Business
		table.pricing-modern-table
			tr
				td Four (4) 5-gal bottles
			tr
				td Free use of cooler
			tr
				td No deposits or delivery fees

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 34.95

		a.button.button-primary.button-winona(href='#') Order now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.15s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='#') Premium
		table.pricing-modern-table
			tr
				td Five (5) 5-gal bottles
			tr
				td Free use of cooler
			tr
				td No deposits or delivery fees

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 35.95

		a.button.button-primary.button-winona(href='#') Order now
