.row.row-50
	.col-sm-6.col-lg-3.wow-outer
		// Profile Classic
		article.profile-classic.wow.slideInLeft
			.profile-classic-main
				+jpg('team-1-270x273', 'profile-classic-image')
				.profile-classic-caption
					.group.group-xs.group-middle
						a.icon.icon-sm.icon-creative.mdi.mdi-facebook(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-twitter(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-instagram(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-google(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-linkedin(href='#')

			h5.profile-classic-title: a(href='#') Nathan Porter
			p.profile-classic-position CEO, Founder

	.col-sm-6.col-lg-3.wow-outer
		// Profile Classic
		article.profile-classic.wow.slideInLeft(data-wow-delay='.05s')
			.profile-classic-main
				+jpg('team-2-270x273', 'profile-classic-image')
				.profile-classic-caption
					.group.group-xs.group-middle.profile-classic-group
						a.icon.icon-sm.icon-creative.mdi.mdi-facebook(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-twitter(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-instagram(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-google(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-linkedin(href='#')

			h5.profile-classic-title: a(href='#') Jean Thompson
			p.profile-classic-position Head of Production

	.col-sm-6.col-lg-3.wow-outer
		// Profile Classic
		article.profile-classic.wow.slideInLeft(data-wow-delay='.1s')
			.profile-classic-main
				+jpg('team-3-270x273', 'profile-classic-image')
				.profile-classic-caption
					.group.group-xs.group-middle.profile-classic-group
						a.icon.icon-sm.icon-creative.mdi.mdi-facebook(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-twitter(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-instagram(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-google(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-linkedin(href='#')

			h5.profile-classic-title: a(href='#') Brian Payne
			p.profile-classic-position Head of Marketing

	.col-sm-6.col-lg-3.wow-outer
		// Profile Classic
		article.profile-classic.wow.slideInLeft(data-wow-delay='.15s')
			.profile-classic-main
				+jpg('team-4-270x273', 'profile-classic-image')
				.profile-classic-caption
					.group.group-xs.group-middle.profile-classic-group
						a.icon.icon-sm.icon-creative.mdi.mdi-facebook(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-twitter(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-instagram(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-google(href='#')
						a.icon.icon-sm.icon-creative.mdi.mdi-linkedin(href='#')

			h5.profile-classic-title: a(href='#') Marie Fernandez
			p.profile-classic-position Office Manager

.wow-outer.button-outer.button-outer-custom
	a.button.button-lg.button-primary.button-winona.wow.slideInUp(href='#') View all Team
