.row.row-50.justify-content-center.justify-content-lg-start
	.col-md-10.col-lg-7.wow-outer
		// Post Block
		article.post-block.bg-gray-700
			+jpg('blog-layouts-5-637x456','post-block-image')
			.post-block-caption
				ul.post-block-meta
					li.wow-outer: span.wow.slideInLeft by Theresa Barnes
					li.wow-outer: a.button-winona.wow.slideInLeft(href='#') News
					li.wow-outer: time.wow.slideInLeft(datetime='2018') April 2, 2018
				h4.post-block-title: a(href=links.post) The Health Benefits of Drinking Spring Water

			.post-block-dummy

	.col-md-10.col-lg-5
		.post-light-group.wow-outer
			// Post Light
			article.post-light.wow.slideInLeft
				time.post-light-time(datetime='2018')
					span.post-light-time-big 29
					span.post-light-time-small April
				.post-light-main
					h4.post-light-title: a(href=links.post) The Secrets of Modern	Spring Water
					ul.post-light-meta
						li by Theresa Barnes
						li: a.button-winona(href='#') News

			// Post Light
			article.post-light.wow.slideInLeft
				time.post-light-time(datetime='2018')
					span.post-light-time-big 30
					span.post-light-time-small April
				.post-light-main
					h4.post-light-title: a(href=links.post) Top 10 Facts About Our Bottled Water
					ul.post-light-meta
						li by Theresa Barnes
						li: a.button-winona(href='#') News

			// Post Light
			article.post-light.wow.slideInLeft
				time.post-light-time(datetime='2018')
					span.post-light-time-big 2
					span.post-light-time-small May
				.post-light-main
					h4.post-light-title: a(href=links.post) Spring Water vs. Sparkling 	Water: What to Choose?
					ul.post-light-meta
						li by Theresa Barnes
						li: a.button-winona(href='#') News
		
		.wow-outer.button-outer
			a.button.button-primary.button-winona.wow.slideInDown(href='blog.html') View all posts
