.row.row-30
	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight
			h5.pricing-minimal-title: a(href='#') Basic
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 24.95
			.pricing-minimal-divider
			p Sed nec elit sodales, imperdiet dolor in, suscipit mi. Donec in elit ligula. Aenean euismod euismod enim, sit laoreet id.
			a.button.button-primary.button-winona(href='#') Order Now

	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight(data-wow-delay='.05s')
			h5.pricing-minimal-title: a(href='#') Standard
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 29.95
			.pricing-minimal-divider
			p Nullam gravida ante sit amet ipsum finibus, ut posuere lectus ornare. Duis ornare lorem urna. Integer vitae euismod magna.
			a.button.button-primary.button-winona(href='#') Order Now

	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight(data-wow-delay='.1s')
			h5.pricing-minimal-title: a(href='#') Premium
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 35.95
			.pricing-minimal-divider
			p Aenean quis felis venenatis justo faucibus tincidunt. Morbi dignissim tortor eu libero tempus, in rhoncus odio eleifend.
			a.button.button-primary.button-winona(href='#') Order Now
